#!/bin/sh
xset +fp /home/kim/.local/share/fonts &
xset fp rehash &
xrdb -load ~/.Xresources &
picom &
setxkbmap dk &
dropbox &
feh --bg-scale ~/.baggrunde/graf.jpg &
xsetroot -cursor_name left_ptr &
/usr/lib/polkit-1/polkit-agent-helper-1 &
xrdb -load ~/.Xresources &
