#!/bin/sh
xset +fp /home/kim/.local/share/fonts &
xset fp rehash &
xrdb -load ~/.Xresources &
picom &
dunst &
setxkbmap dk &
dropbox &
emacs --daemon &
#$HOME/.local/bin/statusbar/mpdup &
setbg ~/.baggrunde/ &
xsetroot -cursor_name left_ptr &
/usr/lib/polkit-1/polkit-agent-helper-1 &
redshift -l 55.49:12.6 &
$HOME/.config/polybar/launch.sh &
