@import 'colors-waybar.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

* {
    border: 4;
    border-radius: 4px;
    /*font-family: "Hack", "Noto Color Emoji", sans-serif;*/
    font-size: 13px;
    /*font-weight: bold;*/
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.8);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.0);*/
    color: #e5e9f0;
}

#workspaces button {
    border-radius: 4px;
    margin: 4px 0px;
    padding: 4px 15px;
    background: rgba(40,42,46,0.3);
    color: @color11;
    border-bottom: 3px solid transparent;
 }

#workspaces button.focused {
    border-radius: 8px;
    margin: 4px 2px;
    padding: 0px 4px;
    background: #85678f;
    color: #64727D;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 20px;
    margin: 0 15px;
}

#clock {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(40,42,46,0.4);
    color: #C5C8C6;
    font-weight: bold;
}

#battery {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(222,147,95,0.4);
    color: #C5C8C6;
}

#battery.charging {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(94,141,135,0.4);
    color: #C5C8C6;
}

@keyframes blink {
    to {
        /*background-color: #ffffff;*/
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background: rgba(165,66,66,0.4);
    color: #C5C8C6;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(140,148,64,0.4);
    color: #C5C8C6;    
}

#memory {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(129,162,190,0.4);
    color: #C5C8C6;    
}

#backlight {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(95,129,157,0.4);
    color: #C5C8C6;    
}

#network {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(178, 148, 187, 0.4);
    color: #C5C8C6;    
}

#network.disconnected {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    /*background: #f53c3c;*/
    color: #e5e9f0;
}

#pulseaudio {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(94,141,135,0.4);
    color: #C5C8C6;    
}

#pulseaudio.muted {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    /*background: #000000;*/
    color: #e5e9f0;
}

#custom-media {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background: #66cc99;
    color: #2a5c45;
}

.custom-spotify {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background: #66cc99;
}

.custom-vlc {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background: #ffa000;
}

#temperature {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(204,102,102,0.4);
    color: #C5C8C6;    
}

#temperature.critical {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background: #cc6666;
    color: #C5C8C6;
}

#tray {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: #2980b9;
    color: #e5e9f0;
}

#idle_inhibitor {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: #C5C8C6;
    color: #2d3436;
}

#mpris {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(204,102,102,0.2);
    color: #C5C8C6; 
    }

#mpris.disconnected {
    background-color: #f53c3c;
}

#mpris.stopped {
    background-color: transparent;
    color: #8abeb7;
}

#mpris.paused {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: rgba(204,102,102,0.2);
    color: #C5C8C6; 
}

#language {
    border-radius: 8px;
    margin: 4px 0px;
    padding: 0px 4px;
    background-color: transparent;
    color: #C5C8C6;
    min-width: 16px;
}
